.bgimage{
    background-color: #0b0b0b;;
}
.bulb{
   width: 180px;
}
.cat{
    width: 300px;
}
.head{
    color:white;
    font-size:30px;
    font-family:roboto;
    font-style:italic;
}
.switchBoard{
    background-color:#7b8794;
    width:350px;
    padding:20px;
    margin:20px;
    text-align: center;
}
.buttonoff{
    color:#ffffff;
    border-radius: 10px;
   width:90px;
    background-color: #e12d39;
    margin:20px;
    height: 30px;
    margin-left: 10px;
}
.buttonon{
    color:#ffffff;
    border-radius: 10px;
    width:90px;
    background-color: #cbd2d9;
    margin:20px;
    height:30px;
   
}